.post .card-content
{
    height: 30vh;
    overflow: hidden;

    padding-right: 28px;
}

.post .card-content p {
    text-align: justify;
}

.post .card-content:hover {
    overflow: auto;
    padding-right: 11px;
}

.post {
    background: #fdfdfd;
    border-radius: 3px;
}

.post:hover {
    background: #fafafa;
}

.post .actions {
    opacity: 0.2;
    transition: opacity 0.2s ease;
}

.post:hover .actions {
    opacity: 1;
}